
html * {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
  text-align: center;
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(0deg,#bed4f0,#e8ebf0);
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 10px;
  gap: 10px;
}

.textContainer >p, h2{
  margin:0px;
}

.textBlock {
  max-width:25%;
  text-align: left;
  font-size: 12pt;
  line-height: 1.3em;
}

.textLeft {
  text-align: left;

}

.horizontalList{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.redText {
  color: red;
  font-style: italic;
}