
html * {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(0deg,#b1f17c,#cef3c2);
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 10px;
  gap: 10px;
}

.textContainer >p, h2{
  margin:0px;
}

.buttonHub{
  margin: 0px 0px 20px;

}

.textBlock {
  max-width:30%;
  text-align: left;
  font-size: 12pt;
  line-height: 1.3em;
}

.textLeft {
  text-align: left;

}

.timerNumber {
  font-size: 32pt;
  margin: 40px 0px
}

.heroHeader {
  font-size: 32pt;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  margin: 40px 0px 10px;
}

.horizontalList{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.redText {
  color: red;
  font-style: italic;
}
.buttonStyle {
  font-size: 16pt;
  padding: 12px;
  margin: 4px;
  border-radius:5px;
  border: none;
  background-color: #8f8f8f;
  color: rgb(255, 255, 255);
}

.buttonStyle:hover{
  cursor: pointer;
  color:#485a51;;
}
#startButton{
 
  background-color: #6a9c6a;
}
#stopButton{
  background-color: #6d836a;
}

@media screen and (max-width: 1000px) {
  .textBlock {
    max-width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .textBlock {
    max-width: 70%;
    font-size: 11pt;
  }
}