
html * {
  font-family:Georgia, 'Times New Roman', Times, serif !important;
}

body {
  text-align: center;
  margin-top: 50px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 10px;
  gap: 10px;
}

.textContainer >p, h2{
  margin:0px;
}

.textBlock {
  max-width:35%;
  text-align: left;
  font-size: 12pt;
  line-height: 1.3em;
}

.textLeft {
  text-align: left;

}

.horizontalList{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.redText {
  color: red;
  font-style: italic;
}